*~
*.aux
*.bbl
*.blg
.DS_Store
*.out
*.dvi
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.maf
*.mtc
*.mtc*
*.rx
AAS.pdf
AASS.pdf
AASS-*.pdf
tempPartial*
*.toc
*.tmp
trunk/tmp/*
latexcheatsheet.pdf
scrindex.sty
