docutils
esbonio
GitPython
numpy
pillow
Pygments
Sphinx
sphinx-copybutton
sphinx_rtd_theme
sphinx-book-theme 
myst-parser 
markdown-it-py 
linkify-it-py 
sphinx_git 
GitAutoVersion 
sphinx_subfigure 
sphinx-design
sphinx_issues
sphinxcontrib-actdiag
fontawesome